*{
    margin: 0px;
  }
  
  .DetailContainer{
    background: linear-gradient(to right, #fad61f, #fad61f);
    width: 350px;
    height: auto;
    margin: 10%;
    padding: 10px;
    border-radius: 10px;
    flex:auto;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px black;
  }
  
  .background{
    text-align: center;
    background: linear-gradient(to right, #6a5b0e, #504921);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  
  .DetailImg{
    width: 200px;
    height: 200px;
  }
  
  .DetailContentContainer{
    background: linear-gradient(to right, #f5e593, #fff2af);
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .detail-Pokename{
    text-align: center;
    font-size: 35px;
    font-weight: lighter;
    padding: 10px;
  }
  
  .detail-Poketipes{
    background-color: black;
    padding: 7px;
    color: white;
    border-radius: 5px;
    width: 100px;
    display: block;
    text-align: center;
    position: relative;
    top: -98px;
  }

.detail-id{
    background-color: black;
    padding: 7px;
    color: white;
    border-radius: 5px;
    width: 50px;
    display: block;
    text-align: center;
    position: relative;
    right: -270px;
    top: -130px;
    
}

  .detail-stats > p{
letter-spacing: 1px;
text-align: center;
position: relative;
top: -50px;
  }